In [29]:
import pandas as pd
from pprint import pprint

In [30]:
df= pd.read_csv('/content/drive/MyDrive/all_matches.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df.head()

   match_id   season  ... other_wicket_type other_player_dismissed
0    335982  2007/08  ...               NaN                    NaN
1    335982  2007/08  ...               NaN                    NaN
2    335982  2007/08  ...               NaN                    NaN
3    335982  2007/08  ...               NaN                    NaN
4    335982  2007/08  ...               NaN                    NaN

[5 rows x 22 columns]

In [32]:
print(df.dtypes)

match_id                    int64
season                     object
start_date                 object
venue                      object
innings                     int64
ball                      float64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [33]:
df['wides'] = df['wides'].fillna(0)
df['wides'] = df['wides'].astype(int)

df['noballs'] = df['noballs'].fillna(0)
df['noballs'] = df['noballs'].astype(int)

df['byes'] = df['byes'].fillna(0)
df['byes'] = df['byes'].astype(int)

df['legbyes'] = df['legbyes'].fillna(0)
df['legbyes'] = df['legbyes'].astype(int)

df['penalty'] = df['penalty'].fillna(0)
df['penalty'] = df['penalty'].astype(int)

In [34]:
df['ball'] = df['ball'].astype(str)

In [35]:
df.dtypes

match_id                    int64
season                     object
start_date                 object
venue                      object
innings                     int64
ball                       object
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                       int64
noballs                     int64
byes                        int64
legbyes                     int64
penalty                     int64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [36]:
#df.bowler.unique()
df.bowler.unique().size

429

In [37]:
#df.striker.unique()
df.striker.unique().size

547

Updating Teams Names:-

In [38]:
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Deccan Chargers', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings'],
      dtype=object)

In [39]:
df=df.replace("Rising Pune Supergiant","Rising Pune Supergiants")
df=df.replace('Delhi Daredevils','Delhi Capitals')
df=df.replace('Deccan Chargers','Sunrisers Hyderabad')
df=df.replace('Kings XI Punjab','Punjab Kings')

In [40]:
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Punjab Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions'], dtype=object)

Updating Season

In [41]:
pprint(df.season.unique())

array(['2007/08', '2009', '2009/10', '2011', '2012', 2012, 2013, 2014,
       2015, 2016, 2017, 2019, 2018, '2018', '2019', '2020/21', '2021',
       2021], dtype=object)

In [42]:
df=df.replace('2007/08','2008')
df=df.replace('2009/10','2010')
df=df.replace('2020/21','2020')

In [43]:
pprint(df.season.unique())

array(['2008', '2009', '2010', '2011', '2012', 2012, 2013, 2014, 2015,
       2016, 2017, 2019, 2018, '2018', '2019', '2020', '2021', 2021],
      dtype=object)

Correction in ball column
(Bug :- if an over have more than 9 ball only first digit is shown e.g. for 10.11, 10.1 is shown)

In [44]:
pprint(df.ball.unique())

array(['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '1.1', '1.2',
       '1.3', '1.4', '1.5', '1.6', '2.1', '2.2', '2.3', '2.4', '2.5',
       '2.6', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '4.1',
       '4.2', '4.3', '4.4', '4.5', '4.6', '5.1', '5.2', '5.3', '5.4',
       '5.5', '5.6', '6.1', '6.2', '6.3', '6.4', '6.5', '6.6', '7.1',
       '7.2', '7.3', '7.4', '7.5', '7.6', '8.1', '8.2', '8.3', '8.4',
       '8.5', '8.6', '9.1', '9.2', '9.3', '9.4', '9.5', '9.6', '10.1',
       '10.2', '10.3', '10.4', '10.5', '10.6', '11.1', '11.2', '11.3',
       '11.4', '11.5', '11.6', '12.1', '12.2', '12.3', '12.4', '12.5',
       '12.6', '12.7', '13.1', '13.2', '13.3', '13.4', '13.5', '13.6',
       '14.1', '14.2', '14.3', '14.4', '14.5', '14.6', '14.7', '15.1',
       '15.2', '15.3', '15.4', '15.5', '15.6', '16.1', '16.2', '16.3',
       '16.4', '16.5', '16.6', '17.1', '17.2', '17.3', '17.4', '17.5',
       '17.6', '18.1', '18.2', '18.3', '18.4', '18.5', '18.6', '19.1',
       '19.2', '19.3', '19.4', '19.5', '19.6', '2.7', '6.7', '6.8', '8.7',
       '8.8', '9.7', '1.7', '12.8', '5.7', '5.8', '13.7', '7.7', '1.8',
       '15.7', '16.7', '11.7', '11.8', '11.9', '4.7', '13.8', '19.7',
       '3.8', '17.7', '18.7', '0.8', '10.7', '10.8', '10.9', '18.8',
       '7.8', '2.8', '6.9', '1.9', '5.9', '19.8', '19.9', '4.8', '0.9',
       '18.9', '16.8', '16.9', '17.8', '14.8', '3.9', '15.8', '9.8',
       '17.9', '4.9', '14.9', '2.9', '13.9', '8.9', '15.9', '9.9', '7.9',
       '12.9'], dtype=object)

In [45]:
# return true if ball1 should be after ball2
def ball_greater(ball1,ball2):
  ball1=ball1.split(".")
  ball2=ball2.split(".")
  return (int(ball1[0])>int(ball2[0])) or ((int(ball1[0])==int(ball2[0])) and (int(ball1[1])>int(ball2[1])))
 
print(ball_greater("7.1","6.8"))
print(ball_greater("6.7","7.1"))
print(ball_greater("6.3","6.4"))
print(ball_greater("6.4","6.3"))

True
False
False
True

In [46]:
#return next ball (of same over)
def next_ball(ball):
  [over,ball]=ball.split(".")
  return over + "."+ str(int(ball)+1)
 
print(next_ball("12.9"))

print(next_ball("0.4"))

12.10
0.5

In [47]:
#contains indexes and value of ball column
ball_update_needed = []

count=0
count1=0
last_match=0
last_innings=0
last_ball= '0.0'
 
for row in df.itertuples(index=True, name='Pandas'):
  #row[1] -> match_id,row[5]->innings,row[6]->ball
  #print(row[1],row[5],row[6],row[0])
  #print(last_match,last_innings,last_ball)
  if(row[1]!=last_match or row[5]!=last_innings):
    last_ball='0.0'
    count1+=1
  if(ball_greater(last_ball,row[6])):
    print(row[0],last_ball,df['ball'][row[0]])
    ball_update_needed.append((row[0],next_ball(last_ball)))
    last_ball=next_ball(last_ball)
    count+=1
  else:
    last_ball=row[6]
 
  last_match=row[1]
  last_innings=row[5]
 
print(count,count1)

5406 6.9 6.1
9348 18.9 18.1
35742 1.9 1.1
38528 3.9 3.1
65369 19.9 19.1
72763 4.9 4.1
96804 16.9 16.1
109485 5.9 5.1
140313 2.9 2.1
187376 8.9 8.1
196501 10.9 10.1
11 1718

In [48]:
def show_around(x):
  print(df['ball'][x-2],df['ball'][x-1],df['ball'][x],df['ball'][x+1],df['ball'][x+2])
  print('-------------------------------------------')

print(len(ball_update_needed))
for (index,val) in ball_update_needed:
  show_around(index)

11
6.8 6.9 6.1 7.1 7.2
-------------------------------------------
18.8 18.9 18.1 19.1 19.2
-------------------------------------------
1.8 1.9 1.1 2.1 2.2
-------------------------------------------
3.8 3.9 3.1 4.1 4.2
-------------------------------------------
19.8 19.9 19.1 0.1 0.2
-------------------------------------------
4.8 4.9 4.1 5.1 5.2
-------------------------------------------
16.8 16.9 16.1 17.1 17.2
-------------------------------------------
5.8 5.9 5.1 6.1 6.2
-------------------------------------------
2.8 2.9 2.1 3.1 3.2
-------------------------------------------
8.8 8.9 8.1 9.1 9.2
-------------------------------------------
10.8 10.9 10.1 11.1 11.2
-------------------------------------------

In [49]:
def update_ball(index,val):
  df['ball'][index]=val

for (index,val) in ball_update_needed:
  update_ball(index,val)
  show_around(index)

6.8 6.9 6.10 7.1 7.2
-------------------------------------------
18.8 18.9 18.10 19.1 19.2
-------------------------------------------
1.8 1.9 1.10 2.1 2.2
-------------------------------------------
3.8 3.9 3.10 4.1 4.2
-------------------------------------------
19.8 19.9 19.10 0.1 0.2
-------------------------------------------
4.8 4.9 4.10 5.1 5.2
-------------------------------------------
16.8 16.9 16.10 17.1 17.2
-------------------------------------------
5.8 5.9 5.10 6.1 6.2
-------------------------------------------
2.8 2.9 2.10 3.1 3.2
-------------------------------------------
8.8 8.9 8.10 9.1 9.2
-------------------------------------------
10.8 10.9 10.10 11.1 11.2
-------------------------------------------

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
df['ball'].unique()

array(['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '1.1', '1.2',
       '1.3', '1.4', '1.5', '1.6', '2.1', '2.2', '2.3', '2.4', '2.5',
       '2.6', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '4.1',
       '4.2', '4.3', '4.4', '4.5', '4.6', '5.1', '5.2', '5.3', '5.4',
       '5.5', '5.6', '6.1', '6.2', '6.3', '6.4', '6.5', '6.6', '7.1',
       '7.2', '7.3', '7.4', '7.5', '7.6', '8.1', '8.2', '8.3', '8.4',
       '8.5', '8.6', '9.1', '9.2', '9.3', '9.4', '9.5', '9.6', '10.1',
       '10.2', '10.3', '10.4', '10.5', '10.6', '11.1', '11.2', '11.3',
       '11.4', '11.5', '11.6', '12.1', '12.2', '12.3', '12.4', '12.5',
       '12.6', '12.7', '13.1', '13.2', '13.3', '13.4', '13.5', '13.6',
       '14.1', '14.2', '14.3', '14.4', '14.5', '14.6', '14.7', '15.1',
       '15.2', '15.3', '15.4', '15.5', '15.6', '16.1', '16.2', '16.3',
       '16.4', '16.5', '16.6', '17.1', '17.2', '17.3', '17.4', '17.5',
       '17.6', '18.1', '18.2', '18.3', '18.4', '18.5', '18.6', '19.1',
       '19.2', '19.3', '19.4', '19.5', '19.6', '2.7', '6.7', '6.8', '8.7',
       '8.8', '9.7', '1.7', '12.8', '5.7', '5.8', '13.7', '7.7', '1.8',
       '15.7', '16.7', '11.7', '11.8', '11.9', '4.7', '13.8', '19.7',
       '3.8', '17.7', '18.7', '0.8', '10.7', '10.8', '10.9', '18.8',
       '7.8', '2.8', '6.9', '6.10', '1.9', '5.9', '19.8', '19.9', '4.8',
       '0.9', '18.9', '18.10', '16.8', '16.9', '17.8', '14.8', '3.9',
       '15.8', '9.8', '17.9', '4.9', '14.9', '1.10', '2.9', '3.10',
       '13.9', '8.9', '15.9', '19.10', '4.10', '16.10', '5.10', '9.9',
       '7.9', '2.10', '12.9', '8.10', '10.10'], dtype=object)

In [54]:
df.to_csv('ball-data',index=False)

In [52]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [53]:
df.head()

   match_id season  ... other_wicket_type other_player_dismissed
0    335982   2008  ...               NaN                    NaN
1    335982   2008  ...               NaN                    NaN
2    335982   2008  ...               NaN                    NaN
3    335982   2008  ...               NaN                    NaN
4    335982   2008  ...               NaN                    NaN

[5 rows x 22 columns]